.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.recipe-list {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    }

.recipe-list-element {
    height: fit-content;
    width: 80%;
    min-width: fit-content;
    display: flex;
    border: 5px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageContainer {
    flex: 1;
    border-right: 5px solid black;
    object-fit: contain;
}

.recipeContainer {
    flex: 2;
    line-height: 4.5px;
    background-color: orange;
}

.recipeContainer h3 {
    font-size: 1rem;
    border-top: 10px;
}

.recipeHeader {
    height: 30%;
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
    font-size: 3rem;
    white-space: nowrap;
}

.recipeHeader div {
  font-size: 1rem;
}

.recipeBody{
    height: 70%;
    min-height: fit-content;
    display: flex;
    border-top: 3px solid black;
}

.ingredients {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 15px;
    font-size: calc(10px + 0.5vw);
    border-right: 3px solid black;
    overflow: scroll;
}

.instructions {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.instructions text{
    line-height: 15px;
    text-align: justify;
    font-size: calc(8px + 0.5vw);
    overflow: scroll;
}
  