.recipe-list {
    display: flex;
    text-align: start;
    margin: auto;
    width: max-content;
    }

.recipeContainer {
    margin-block: auto;
    border-width: 5px;
    border-radius: 10px;
}
  